{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}{{ user.username.title }}'s Page{% endblock %}
{% block jquery %}
<script>
    $(document).ready(function() {
        // confirm message to remove profile picture
        $(".delete-profile-picture").click(function() {
            return confirm("Are you sure you want to remove this image?");
        });
        //-------------------------------------------------------------issues
        // show my issues on click
        var issuesAndFeatures = $(".profile-issues-features");
        $(".my-issues-list").click(function(event) {
            event.stopPropagation();
            event.preventDefault();
            $("#my-issues-list").removeClass("remove-issues");
            if (window.matchMedia('(max-width: 480px)').matches) {
                issuesAndFeatures.animate({ "margin-top": "-140%" }, 500);
            }
            else {
                issuesAndFeatures.animate({ "margin-top": "-70%" }, 500);
            }
        });
        $("#my-issues-list").click(function(event) {
            event.stopPropagation();
        });
        $('body, html').click(function(event) {
            if (window.matchMedia('(max-width: 480px)').matches) {
                issuesAndFeatures.animate({ "margin-top": "140%" }, 500);
            }
            else {
                issuesAndFeatures.animate({ "margin-top": "90%" }, 500);
            }
            setTimeout(function() {
                $("#my-features-list").addClass("remove-issues");
            }, 500);

        });
        $('.close-issues-features').click(function() {
            issuesAndFeatures.animate({ "margin-top": "140%" }, 500);
            setTimeout(function() {
                $("#my-issues-list").addClass("remove-issues");
                $("#my-features-list").addClass("remove-issues");
            }, 800);
        });
        //------------------------------------------------------------ features
        // show my features on click
        $(".my-features-list").click(function(event) {
            event.stopPropagation();
            $("#my-features-list").removeClass("remove-issues");
            if (window.matchMedia('(max-width: 480px)').matches) {
                issuesAndFeatures.animate({ "margin-top": "-140%" }, 500);
            }
            else {
                issuesAndFeatures.animate({ "margin-top": "-70%" }, 500);
            }

        });
        $("#my-features-list").click(function(event) {
            event.stopPropagation();
        });
        $('body, html').click(function(event) {
            if (window.matchMedia('(max-width: 480px)').matches) {
                issuesAndFeatures.animate({ "margin-top": "140%" }, 500);
            }
            else {
                issuesAndFeatures.animate({ "margin-top": "90%" }, 500);
            }
            setTimeout(function() {
                $("#my-issues-list").addClass("remove-issues");
            }, 500);
        });
        $(".next-page").click(function(event) {});
    });
</script>
{% endblock %} {% block content %}
<div class="container-profile">
    <div class="row">
        <div class="col-xs-12 col-md-4 text-center profile-img-div">
            <!---username---->
            <div class="col-xs-12 text-center">
                <h1>{{ user.username.title }}</h1>
            </div>
            <!---profile picture---->
            {% if user.userprofile.image %}
            <div class="col-xs-12 text-center">
                <a href="#" class="profile-picture" data-toggle="modal" data-target="#add-profile-img"><img src="{{ user.userprofile.image.url }}" alt=""></a>
            </div>
            <div class="col-xs-6 text-center remove-change-pp remove-pp-div">
                <a href="{% url 'remove_profile_img' %}" class="delete-profile-picture" type="button">Remove profile picture<a>
            </div>
               <div class="col-xs-6 text-center remove-change-pp remove-pp-div">
                <a href="#" class="change-profile-picture" type="button" data-toggle="modal" data-target="#add-profile-img">Change profile picture<a>
            </div>
            {% else %}
            <!---Add profile picture----->
            <div class="col-xs-12 text-center">
                <div class="row">
                    <div class="col-xs-12 hidden-xs hidden-sm">
                    <a class="" href="" type="button" data-toggle="modal" data-target="#add-profile-img">
                        <img class="profile-picture-empty">
                    </a>
                </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 add-profile-picture-md-lg hidden-xs hidden-sm">
                        <a class="" href="" type="button" data-toggle="modal" data-target="#add-profile-img">Add a profile picture</a>
                    </div>
                </div>
                <div class="col-xs-12 hidden-md hidden-lg">
                    <a href="" type="button" data-toggle="modal" data-target="#add-profile-img">
                        <img class="profile-picture-empty">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 text-center add-pp-div hidden-md hidden-lg">
                <p class="add-profile-picture" type="button" data-toggle="modal" data-target="#add-profile-img">Add a profile picture</p>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8 hidden-xs hidden-sm">
            <!---my issues/feature buttons md/lg---->
            <div class="col-md-12">
                {% if my_features_clicked %}
                <div class="col-md-6 text-center">
                    <a href="{% url 'profile' %}" class="issue-feature-btn-lg-unselected">My issues</a>
                </div>
                <div class="col-md-6 text-center">
                    <a href="{% url 'user_features' %}" class="issue-feature-btn-lg-selected">My requests</a>
                </div>
                {% else %}
                <div class="col-md-6 text-center">
                    <a href="{% url 'profile' %}" class="issue-feature-btn-lg-selected">My issues</a>
                </div>
                <div class="col-md-6 text-center">
                    <a href="{% url 'user_features' %}" class="issue-feature-btn-lg-unselected">My requests</a>
                </div>
                {% endif %}
            </div>
            <div class="col-md-12 all-issues-features-div">
                <!---------------------------------------------------------------------------issues large screens---------------------------------->
                <div id="my-issues-list-lg">
                    {% if all_issues %}
                    {% for issue in all_issues %}
                    <div class="row my-issues-list-lg">
                        <div class="col-md-12  my-issues-list-lg-row">
                            <div class="col-md-4">
                                <h4 class="my-issues-list-lg-title" style="display: inline;"><a href="{% url 'view_issue' issue.id %}">{{ issue.title.capitalize | truncatewords:3 }}</a></h4>
                            </div>
                            <div class="col-md-3 my-issues-features-date">
                                <p>{{ issue.published_date }}</p>
                            </div>
                        </div>
                        <div class="col-md-12 my-issues-list-lg-row">
                            <div class>
                                <div class="col-md-2 my-i-f-done-votes-comments my-issues-features-done">
                                    {% if issue.done %}
                                    <i class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="The author of this issue says the issue has been fixed"></i>
                                    {% else %}
                                    <i class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="bottom" title="Unicorn is currently working on this issue"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-2 my-i-f-done-votes-comments">
                                    <p>{{ issue.vote.count }} vote{{ issue.vote.count | pluralize }}</p>
                                </div>
                                <div class="col-md-2 my-i-f-done-votes-comments my-issues-features-comments">
                                    <p>{{ issue.comment_number }} comment{{ issue.comment_number | pluralize }}</p>
                                </div>
                            </div>
                            <div class="col-md-2 my-issues-features-view-btn">
                                <a href="{% url 'view_issue' issue.id %}" class="view-issue-btn">View issue</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% elif not all_issues and my_features_clicked == False %}
                    <div class="row no-issues-features-row">
                        <div class="col-xs-12 text-center no-issues-features-lg">
                            <h3>You haven't posted any issues.</h3>
                            <a href="{% url 'create_issue' %}">post an issue</a>
                        </div>
                    </div>
                    <!---------------------------------------------------------------------------features large screens---------------------------------->
                    {% elif all_features %} {% for feature in all_features %}
                    <div class="row my-issues-list-lg">
                        <div class="col-md-12  my-issues-list-lg-row">
                            <div class="col-md-4">
                                <h4 class="my-issues-list-lg-title" style="display: inline;"><a href="{% url 'view_feature' feature.id %}">{{ feature.title.capitalize | truncatewords:3 }}</a></h4>
                            </div>
                            <div class="col-md-3 my-issues-features-date">
                                <p>{{ feature.published_date }}</p>
                            </div>
                        </div>
                        <div class="col-md-12 my-issues-list-lg-row">
                            <div class>
                                <div class="col-md-2 my-i-f-done-votes-comments my-issues-features-done">
                                    {% if feature.done %}
                                    <i class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="The author of this feature says the feature has been fixed"></i>
                                    {% else %}
                                    <i class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="bottom"  title="Unicorn is currently working on this feature"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-2 my-i-f-done-votes-comments">
                                    <p>{{ feature.vote.count }} vote{{ feature.vote.count | pluralize }}</p>
                                </div>
                                <div class="col-md-2 my-i-f-done-votes-comments my-issues-features-comments">
                                    <p>{{ feature.comment_number }} comment{{ feature.comment_number | pluralize }}</p>
                                </div>
                            </div>
                            <div class="col-md-2 my-issues-features-view-btn">
                                <a href="{% url 'view_feature' feature.id %}" class="view-issue-btn">View feature</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% elif not all_features and my_features_clicked == True %}
                    <div class="row no-issues-features-row">
                        <div class="col-xs-12 text-center no-issues-features-lg">
                            <h3>You haven't posted any feature requests.</h3>
                            <a href="{% url 'create_feature' %}">post a request</a>
                        </div>
                    </div>
                    {% endif %}
        
                </div>
            </div>
        </div>
        {% if all_issues %}
        <!---pagination issues---->
        <div class="row">
            <div class="col-xs-12 text-center hidden-xs hidden-sm">
                <div class="pagination">
                    <span class="step-links">
                    {% if all_issues.has_previous %}
                        <a href="?page-issues={{ all_issues.previous_page_number }}" class="previous-page">previous</a>
                    {% endif %}
                    <span class="current">
                        Page <span class="page-number">{{ all_issues.number }}</span> of {{ all_issues.paginator.num_pages }}.
                    </span>
                    {% if all_issues.has_next %}
                        <a href="?page-issues={{ all_issues.next_page_number }}" class="next-page">next</a> {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% elif all_features %}
        <!---pagination features---->
        <div class="row">
            <div class="col-xs-12 text-center hidden-xs hidden-sm">
                <div class="pagination">
                    <span class="step-links">
                    {% if all_features.has_previous %}
                        <a href="?page-features={{ all_features.previous_page_number }}" class="previous-page">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ all_features.number }} of {{ all_features.paginator.num_pages }}.
                    </span> {% if all_features.has_next %}
                        <a href="?page-features={{ all_features.next_page_number }}" class="next-page">next</a> {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="add-profile-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload a profile picture</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data" class="profile-pic-form">
                        {% csrf_token %} {{ picture_form | as_bootstrap }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-cancel-btn" data-dismiss="modal">Close</button>
                    <button type="submit" class="unsubscribe-btn">Save image</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-issues-features-row">
        <div class="col-xs-6 text-center my-issues-features-btns-div hidden-md hidden-lg">
            <a href="#" class="my-issues-list"><i class="fa fa-exclamation-circle"></i>My issues</a>
        </div>
        <div class="col-xs-6 text-center my-issues-features-btns-div hidden-md hidden-lg">
            <a href="#" class="my-features-list"><i class="fa fa-lightbulb-o"></i>My requests</a>
        </div>
    </div>
    <!---------------------------------------------------------------------------issues-small screens--------------------------------->
    <div id="my-issues-list" class="remove-issues profile-issues-features hidden-md hidden-lg">
        <div class="row my-i-f-list-top-row">
            <div class="col-xs-offset-4 col-xs-4 text-center">
                <h3>My issues</h3>
            </div>
            <div class="col-xs-4 text-right">
                <i class="glyphicon glyphicon-remove close-issues-features"></i>
            </div>
    
            <div class="col-xs-12 text-center">
                <h4>{{ issues.count }} Issue{{ issues.count | pluralize }}</h4>
            </div>
        </div>
        {% if issues %}
        {% for issue in issues %}
        <div class="row my-single-i-f-row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3><a class="my-single-i-f-title-a" href="{% url 'view_issue' issue.id %}">{{ issue.title.capitalize | truncatewords:4 }}</a></h3>
                    </div>
                </div>
                <div class="row mobile-v-d-c-row">
                    <div class="col-xs-4 text-center">
                        <p>{{ issue.vote.count }} vote{{ issue.vote.count | pluralize }}</p>
                    </div>
                    <div class="col-xs-4 text-center mobile-done-div">
                        {% if issue.done %}
                        <i class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="The author of this issue says the issue has been fixed"></i>
                        {% else %}
                        <i class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="bottom" title="Unicorn is currently working on this issue"></i>
                        {% endif %}
                    </div>
                    <div class="col-xs-4 text-center">
                        <p>{{ issue.comment_number }} comment{{ issue.comment_number | pluralize }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center view-i-f-mobile-btn-div">
                        <a href="{% url 'view_issue' issue.id %}" class="view-i-f-mobile-btn">View issue</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="row no-issues-features-row">
            <div class="col-xs-12 text-center no-issues-features">
                <h3>You haven't posted any issues.</h3>
                <a href="{% url 'create_issue' %}">post an issue</a>
            </div>
        </div>
        {% endif %}
    </div>
    <!------------------------------------------------------------------------------------features------------------------->
    <div id="my-features-list" class="remove-issues profile-issues-features hidden-md hidden-lg">
        <div class="row my-i-f-list-top-row">
            <div class="col-xs-offset-4 col-xs-4 text-center">
                <h3>My features</h3>
            </div>
            <div class="col-xs-4 text-right">
                <i class="glyphicon glyphicon-remove close-issues-features"></i>
            </div>
    
            <div class="col-xs-12 text-center">
                <h4>{{ features.count }} Feature{{ features.count | pluralize }}</h4>
            </div>
        </div>
        {% if features %} {% for feature in features %}
        <div class="row my-single-i-f-row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3><a class="my-single-i-f-title-a" href="{% url 'view_feature' feature.id %}">{{ feature.title.capitalize | truncatewords:4 }}</a></h3>
                    </div>
                </div>
                <div class="row mobile-v-d-c-row">
                    <div class="col-xs-4 text-center">
                        <p>{{ feature.vote.count }} vote{{ feature.vote.count | pluralize }}</p>
                    </div>
                    <div class="col-xs-4 text-center mobile-done-div">
                        {% if feature.done %}
                        <div class="text-right">
                            <i class="glyphicon glyphicon-ok view-issue-done-icon" data-toggle="tooltip" data-placement="bottom" title="The author of this feature says the feature has been fixed"></i>
                        </div>    
                        {% else %}
                        <div class="text-right">
                            <i class="glyphicon glyphicon-time view-issue-done-icon" data-toggle="tooltip" data-placement="bottom" title="Unicorn is currently working on this feature"></i>
                        </div> 
                        {% endif %}
                    </div>
                    <div class="col-xs-4 text-center">
                        <p>{{ feature.comment_number }} comment{{ feature.comment_number | pluralize }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center view-i-f-mobile-btn-div">
                        <a href="{% url 'view_feature' feature.id %}" class="view-i-f-mobile-btn">View feature</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <div class="row">
            <div class="col-xs-12 text-center no-issues-features">
                <h3>You haven't posted any features.</h3>
                <a href="{% url 'create_feature' %}">post an feature</a>
            </div>
        </div>
        {% endif %}
    </div>
    <!------------------------------------------------------------------------------------------------------------->
</div>
{% endblock %}
