{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12 register-form">
        <form method="POST">
            {% csrf_token %}
            {{ register_form | as_bootstrap }}
            <button type="submit" class="login-register-btn">Sign Up</button>
            <p class="sign-up-p">Already registered?  <span class="sign-up-span"><a href="{% url 'login' %}">Login</a></span> here</p>
        </form>
    </div>
</div>
{% endblock %}