{% extends 'base.html' %}
{% block title %}Issues{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="xs-hidden col-md-12 text-right">
        <a href="{% url 'create_issue' %}" class="btn btn-default">Create Ticket</a>
    </div>
</div>
{% endif %}
{% for issue in all_issues %}
<div class="row issue">
    <div class="col-xs-12 main-issue-table">
        <div class="col-xs-12 col-md-1 text-center votes hidden-xs hidden-sm">
            <div class="votes-chevron">
                <h3>{{ issue.vote.count }}</h3>
            </div>
        </div>
        <div class="row table-items">
            <div class="col-xs-12 col-md-11 text-left table hidden-md hidden-lg">
                <div class="col-xs-3">
                    {% if issue.done %}
                    <i class="glyphicon glyphicon-ok issue-done-icon"></i>
                    {% else %}
                    <i class="glyphicon glyphicon-time issue-done-icon"></i>
                    {% endif %}
                </div>
                <div class="col-xs-6">
                    <h3><a href="{% url 'view_issue' issue.id %}">{{ issue.title.capitalize | truncatewords:10 }}</a></h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-11 text-left table hidden-xs hidden-sm">
                <div class="col-xs-6">
                    <h3><a href="{% url 'view_issue' issue.id %}">{{ issue.title.capitalize | truncatewords:10 }}</a></h3>
                </div>
                <div class="col-xs-6 text-right">
                    {% if issue.done %}
                    <i class="glyphicon glyphicon-ok issue-done-icon" data-toggle="tooltip" data-placement="bottom" title="The author of this issue says the issue has been fixed"></i>
                    {% else %}
                    <i class="glyphicon glyphicon-time issue-done-icon" data-toggle="tooltip" data-placement="bottom" title="Unicorn is currently working on this issue"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row table-items">
            <div class="col-xs-12 col-md-11 table content">
                <pre>{{ issue.content | truncatewords:30 }}</pre>
            </div>
        </div>
    </div>
    <div class="row comments-row hidden-xs hidden-sm">
        <div class="col-xs-12 comments">
            <h5>Comments -</h5>
            {% if comments %}
            {{ issue.comments }}
            {% else %}
            <a href="#">New Comment</a>
            {% endif %}
        </div>
    </div>
    <div class="row hidden-md hidden-lg">
        <div class="col-xs-12">
            <div class="text-center">
                <a href="{% url 'view_issue' issue.id %}" class="btn btn-default view-issue">View Issue</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-xs-12 text-center">
        <div class="pagination">
            <span class="step-links">
                {% if all_issues.has_previous %}
                    <a href="?page={{ all_issues.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ all_issues.number }} of {{ all_issues.paginator.num_pages }}.
                </span>
                {% if all_issues.has_next %}
                    <a href="?page={{ all_issues.next_page_number }}">next</a>
                {% endif %}    
            </span>
        </div>
    </div>
</div>
{% endblock %}
