{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}Issue Form{% endblock %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | as_bootstrap }}
    <button type="submit" class="login-register-btn" name="create_or_edit_issue">
        {% if request.get_full_path == "/issues/create-issue/" %}
        Create
        {% else %}
        Edit
        {% endif %}
        Ticket
        
    </button>
</form>
{% endblock %}