{% extends 'base.html'%}
{% load bootstrap_tags %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12 reset-text">
        <p>Please enter your email address and an email will be sent to your 
            account shortly. Remember to check your spam folder</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 register-form">
        <form method="POST">
            {% csrf_token %}
            {{ form.email.errors }}
            {{ form | as_bootstrap}}
            <button type="submit" class="login-register-btn">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}