{% extends "base.html" %}
{% load bootstrap_tags %}
{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
    <div class="row">
        <div class="col-xs-12 reset-text">
            <<p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 register-form">
            <form action="" method="post" class="accountform register-form">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <table class="reset-password-table">
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">New password: </label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirm password: </label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="login-register-btn" value="Change my password">Change my password</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}