html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container-base {
    margin: 0;
}

/*------------------------------------------------------base.html-*/

nav {
    border-radius: 0;
}

#side-nav {
    height: 100vh;
    width: 50%;
    background-color: rgba(100, 100, 100, 0.95);
    position: absolute;
    z-index: 9999;
}

.navbar-large h1 {
    margin-left: 2%;
}

.navbar-large ul {
    margin-right: 1%
}

.remove {
    display: none;
}

.side-nav-btn-div {
    top: 15px;
}

.nav-user {
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #858585;
}
/*-----------------------------------------------------------profile.html*/
.add-profile-picture{
    position: relative;
    bottom: 160px;
    left: 0px;
}

.remove-issues{
    display: none;
}

.profile-issues-features {
    background-color: rgba(100, 100, 100, 0.95);
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

/*-------------------------------------------------issues.html(all-issues)*/

.issue {
    width: 75%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.main-issue-table {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #eee;
}



.table {
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 2%;
    margin-bottom: 0;
}

.table h3 {
    text-align: center;
}

.table-items:last-child .table {
    border-bottom: none;
    background: cornsilk;
}

.issue-done-icon {
    top: 30px;
}

.votes {
    height: 100%;
    border: 1px solid #eee;
    border-left: none;
    border-bottom: none;
    border-top: none;
    position: absolute;
    padding-left: 1.5%;
}

.votes-chevron {
    position: absolute;
    top: 60px;
}

.content {
    overflow: auto;
    height: 150px;
}

.content pre {
    margin-bottom: -2%;
    background: none;
    border: none;
    white-space: pre-wrap;
}

.comments-row {
    width: 100%;
    margin-left: 0%;
}

.comment-number-div {
    border-bottom-left-radius: 10px;
    border: 1px solid #eee;
    padding-bottom: 2%;
    margin-bottom: 0;
    border-right: none;
}

.view-issue {
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2% 0;
}

.view-issue-btn-div {
    border-bottom-right-radius: 10px;
    border: 1px solid #eee;
    padding-bottom: 2%;
    margin-bottom: 0;
    border-left: none;
}

.view-issue-btn {
    padding-top: 7px;
    position: relative;
    top: 5px;
    left: 9.5px;
}

/*-------------------------------------------------------view-issue*/

.author-image-row {
    text-align: center
}

.author-image {
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    text-align-last: center;
}

.view-issue-image {
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
}

.view-issue-author {
    position: relative;
    top: 45px;
}

.done-btn {
    position: relative;
    right: 20px;
}

.view-issue-done-icon {
    position: relative;
    right: 20px;
}

.issue-done {
    display: none;
}

.view-issue-votes-content {
    height: 400px;
}

.view-issue-content {
    height: 100%;
}

.view-issue-content pre {
    height: 100%;
    white-space: pre-wrap;
}

.vote-btn.voted {
    background-color: black;
    color: white;
}

.modal-dialog {
    overflow-y: initial;
}

.modal-body-all-comments {
    height: 500px;
    overflow-y: auto;
}

.modal-body {}

.comment-image-div {
    display: inline-block;
    margin-left: 3%;
}

.comment-image {
    vertical-align: text-bottom;
}

blockquote {
    display: inline-block;
}

.comment-date {
    font-size: 10px;
}

.comment-date-modal {
    text-align: right;
    position: relative;
    top: 40px;
    font-size: 10px;
    margin-right: 2%;
}

/*-------------------------------------------------------footer*/

.footer {
    border-top: 1px solid #eee;
    height: 330px;
    background-color: #eee;
    margin-top: 1%;
    padding-top: 5px;
    position: relative;
    bottom: 0;
    top: 20rem;
}

.copyright p {
    display: inline;
}

/*-------------------------------------------------------------media queries*/

@media (min-width: 768px) {
    /*base.html-------------------------*/
    .footer {
        height: 250px;
        top: 20rem;
    }
}

@media (min-width: 992px) {
    /*base.html-------------------------*/
    .footer {
        height: 250px;
        top: 45rem;
    }

    .copyright {
        top: 40px;
    }
    /*profile.html-------------------------*/
    .add-profile-picture{
        left: 30px;
    }

    /*issues page(all-issues)-----------*/
    .main-issue-table {
        width: 66.666%;
        margin-left: 15%;
    }
    .table-items {
        margin-left: 8.6666666666%;
    }
    .table h3 {
        text-align: left;
    }
    .content {
        overflow: auto;
        height: 105px;
    }
    .comments-row {
        width: 100%;
        margin-left: 0%;
    }
    .comments-row {
        width: 66.666%;
        margin-left: 15%;
    }
    /*view-issue-------------------------*/
    .author-image-row {
        text-align: left;
    }

    .author-image {
        height: 20rem;
        width: 20rem;
    }
}

@media (min-width: 1025px) {
    /*base.html-------------------------*/
    .footer {
        height: 220px;
        top: 0;
    }
    /*profile.html-------------------------*/
    .profile-img-div{
        text-align: left;
    }
    
    .add-profile-picture{
        left: 100px;
        top: 140px;
        position: absolute;
    }
}
