html{
    margin: 0% 3%;
}

#side-nav{
    height: 100vh;
    width: 50%;
    background-color: rgba(100, 100, 100, 0.95);
    position: absolute;
    z-index: 9999;
}

.remove{
    display: none;
}

