<!DOCTYPE html> 
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <div class="row container-base">
        <div id="side-nav" class="remove">
            <ul class="">
                {% if user.is_authenticated %}
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">{{ user.username.title }}</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <hr>
                <li><a href="{% url 'all_issues' %}">Issues</a></li>
                <li><a href="{% url 'all_features' %}">Features</a></li>
                <hr>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="hidden-xs hidden-sm">
            <nav class="navbar navbar-default navbar-large">
                <h1 class="navbar-left"><a href="{% url 'index' %}">Logo</a></h1>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'all_issues' %}">Issues</a></li>
                    <li><a href="{% url 'all_features' %}">Features</a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                         <span class="nav-user">{{ user.username.title }}</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <hr>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="hidden-md hidden-lg">
            <nav class="navbar navbar-default">
                <div class="col-xs-3 side-nav-btn-div">
                    <button class="button side-nav-btn glyphicon glyphicon-menu-hamburger btn btn-default"></button>
                </div>
                <div class="col-xs-6">
                    <h1 class="text-center"><a href="{% url 'index' %}">Logo</a></h1>
                </div>
            </nav>
        </div>
    </div>
    {% block content %}{% endblock %}
    <!--<footer class="footer">-->
    <!--    <div class="row">-->
    <!--        <div class="col-xs-12 col-md-8">-->
    <!--            <h5>Footer Content</h5>-->
    <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
    <!--            Assumenda perspiciatis numquam dolores vero velit sequi quae-->
    <!--            delectus praesentium amet ipsum, quis ex. Eius quasi suscipit-->
    <!--            alias maiores eos saepe minima, accusamus expedita numquam.-->
    <!--            Soluta quis non consequuntur, similique debitis voluptatum.</p>-->
    <!--        </div>-->
    <!--        <div class="col-xs-12 col-md-4">-->
    <!--            <ul>-->
    <!--                <li><a href="{% url 'all_issues' %}">Home</a></li>-->
    <!--                <li><a href="#">About</a></li>-->
    <!--                <li><a href="#">Contact</a></li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="row">-->
    <!--        <div class="col-xs-12 text-right">-->
    <!--            <a href="">Back to top <i class="glyphicon glyphicon-chevron-up"></i></a>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="row">-->
    <!--        <div class="col-xs-12 text-center copyright">-->
    <!--            <i class="glyphicon glyphicon-copyright-mark"></i>-->
    <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</footer>-->
    <script src="{% static 'js/base.js' %}"></script>
    {% block jquery %}{% endblock %}
</body>

</html>
