{% extends 'base.html' %} 
{% load bootstrap_tags %}
{% block title %}View Feature{% endblock %}
{% block jquery %}
<script>
$(document).ready(function(){
    $(".delete-feature").click(function(){
       return confirm("Are sure you want to delete your feature?"); 
    });
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus();
    });
    $('.done-btn').click(function(e){
        e.preventDefault()
        var this_ = $(this)
        this_.toggleClass("glyphicon glyphicon-ok");
        this_.text(function(i, text) {
           return text === 'Done' ? '' : 'Done';
        });
        var done_url = "{% url 'feature-done' feature.id %}";
        var buttonHasIcon = this_.hasClass("glyphicon glyphicon-ok");
        if (buttonHasIcon){
            $.post(done_url, {"is_done": true}, function(data){
            });
            
        } else {
            $.post(done_url, {"is_done": false}, function(data){
            });
        }   
    });
    function updateVotes(tag, votes){
        tag.text(votes);
    }
    $(".vote-btn").click(function(e){
        e.preventDefault();
        $(this).toggleClass("voted");
        var vote_url = "{% url 'feature-vote' feature.id %}";
        var vote = parseInt($(".vote-count").attr("data-votes"), 10);
        var previousVote = vote - 1;
        var voteClicked = $(this).hasClass("voted");
        $.ajax({
            url: vote_url,
            method: "GET",
            data: {},
            dataType: 'json',
            success: function(data){
                console.log(data);
                
              if (voteClicked){
                  console.log(data.up_vote);
                  vote ++;
                  console.log("newVote " + vote);
                  updateVotes($(".vote-count"), vote);
              } else {
                  console.log(data.up_vote);
                  console.log("original vote " + vote);
                  updateVotes($(".vote-count"), vote);
              }
            }
        });
    });
});
</script>
{% endblock %}
{% block content %}
<div class="row">
    {% for author_image in author_image %}
    {% if author_image.image.url != None %}
    <div class="col-xs-12 col-md-3 author-image-row">
        <img  class="author-image" src="{{ author_image.image.url }}" alt="" height="500px" width="500px">
    </div>
    {% else %}
    <div class="col-xs-12 col-md-3 author-image-row">
        <img class="author-image view-image view-issue-image" style="background: #eee;">
    </div>
    {% endif %}
    {% endfor %}
    <div class="col-xs-12 col-md-9 text-center view-issue-author">
        <h3>{{ feature.author }}</h3>
    </div>
    {% if feature.author == request.user %}
    <div class="text-right">
        <form action="" method="POST">
        {% csrf_token %}
        {% if feature.done == False %}
        <button class="btn btn-default done-btn">Done</button>
        {% else %}
        <button class="btn btn-default done-btn glyphicon glyphicon-ok"></button>
        {% endif %}
        </form>
    </div>
    {% elif feature.done %}
    <div class="text-right">
        <i class="glyphicon glyphicon-ok view-issue-done-icon" data-toggle="tooltip" data-placement="bottom" title="The author of this feature says the feature has been fixed"></i>
    </div>    
    {% else %}
    <div class="text-right">
        <i class="glyphicon glyphicon-time view-issue-done-icon" data-toggle="tooltip" data-placement="bottom" title="Unicorn is currently working on this feature"></i>
    </div> 
    {% endif %}
</div
<br>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ feature.title }}</h1>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 text-center">
        <p>{{ feature.tag }}</p>
    </div>
    <div class="col-xs-6 text-center">
        <p>{{ feature.published_date }}</p>
    </div>
</div>
<br>
<div class="row view-issue-votes-content">
    <div class="col-xs-3 text-center">
        <form action="{% url 'feature-vote' feature.id %}" method="POST">
        {% csrf_token %}
        {% if user in feature.vote.all %}
        <button class="glyphicon glyphicon-chevron-up vote-btn voted" name="vote-up"></button>
        {% else %}
        <button class="glyphicon glyphicon-chevron-up vote-btn" name="vote-up"></button>
        {% endif %}
        </form>
        <h3 class="vote-count" data-votes="{{ feature.vote.count }}">{{ feature.vote.count }}</h3>
    </div>
    <div class="col-xs-9 view-issue-content">
        <pre>{{ feature.content }}</pre>
    </div>
</div>
{% if feature.author == request.user %}
<div class="row">
    <div class="col-xs-6">
        <a href="{% url 'edit_feature' feature.id %}" class="btn btn-default">Edit feature</a>
    </div>
     <div class="col-xs-6 text-right">
        <a href="{% url 'delete_feature' feature.id %}" class="btn btn-default delete-feature">Delete feature</a>
    </div>
</div>
{% endif %}
<a href="" type="button" data-toggle="modal" data-target="#myModal">Add comment</a>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Write a comment</h4>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form | as_bootstrap }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save comment</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ comment_count }} comment{{ comments_with_images | pluralize }}
{% if comment_count > 3 %}
<!-- Button trigger modal -->
<a href="" data-toggle="modal" data-target="#myModalComments">View all comments</a>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="myModalComments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">All comments</h4>
      </div>
      <div class="modal-body modal-body-all-comments">
        {% for comment in comments_with_images %}
        <div class="row">
            <p class="comment-date-modal hidden-xs">{{ comment.comment.created_date }}</p>
            <div class="comment-image-div">
                {% if comment.image.url != None %}
                <img class="comment-image" src="{{ comment.image.url }}" alt="" style="width: 5rem; height: 5rem; border-radius: 50%;">
                {% else %}
                <div style="background-color: #eee; width: 5rem; height: 5rem; border-radius: 50%;"></div>
                {% endif %}
            </div>
            <blockquote>
                <p>{{ comment.comment.content }}</p>
                <footer>by <cite title="Source Title">{{ comment.comment.user_logged_in }}</cite></footer>
                <p class="comment-date hidden-sm hidden-md hidden-lg">{{ comment.comment.created_date }}</p>
            </blockquote>
        </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% for comment in first_three_comments %}
<div class="row">
    <div class="comment-image-div">
        {% if comment.image.url != None %}
        <img class="comment-image" src="{{ comment.image.url }}" alt="" style="width: 5rem; height: 5rem; border-radius: 50%;">
        {% else %}
        <div style="background-color: #eee; width: 5rem; height: 5rem; border-radius: 50%;"></div>
        {% endif %}
    </div>
    <blockquote>
        <p>{{ comment.comment.content }}</p>
        <footer>by <cite title="Source Title">{{ comment.comment.user_logged_in }}</cite></footer>
        <p class="comment-date">{{ comment.comment.created_date }}</p>
    </blockquote>
</div>
{% endfor %}
<div class="row">
    <div class="col-xs-12">
        <a href="{% url 'all_features' %}" class="btn btn-default">Back</a>
    </div>
</div>
{% endblock %}
